In [2]:
import pandas as pd
import numpy as np

In [3]:
spots = pd.read_csv('../processed_data/all_passing_rna_spots.csv')
spots.head()

,global_x,global_y,global_z,target_molecule_name,num_assigned_cells,cell_id,sample
0,-4237.7397,1681.8490,0.0,Acta2,1,217951229059897556843731256135790480948,mouse1sample2
1,-4183.0010,1688.5905,0.0,Acta2,1,281878279612082858224382179441472205807,mouse1sample2
2,-4215.4233,1699.2443,0.0,Acta2,1,271699149458331512543397347819513343392,mouse1sample2
3,-4207.3945,1706.8620,0.0,Acta2,1,271699149458331512543397347819513343392,mouse1sample2
4,-4206.7200,1711.7010,0.0,Acta2,1,271699149458331512543397347819513343392,mouse1sample2

In [4]:
spots.shape

(75825684, 7)

In [5]:
spots['global_z'].value_counts()

4.5    13045449
6.0    12799824
3.0    12179107
7.5    11528662
1.5    10439816
9.0     9386319
0.0     6446507
Name: global_z, dtype: int64

In [8]:
slices_per_sample = spots.groupby('sample')['global_z'].value_counts()
slices_per_sample

sample         global_z
mouse1sample1  4.5         829705
               6.0         813036
               3.0         776646
               7.5         731806
               1.5         655279
                            ...
mouse2sample5  3.0         173367
               7.5         166766
               1.5         163328
               9.0         129313
               0.0         103290
Name: global_z, Length: 77, dtype: int64

In [11]:
x = slices_per_sample.unstack()
x

global_z           0.0      1.5      3.0      4.5      6.0      7.5      9.0
sample
mouse1sample1   381300   655279   776646   829705   813036   731806   585626
mouse1sample2   625595  1274400  1547502  1732465  1802890  1741853  1517291
mouse1sample3   616709   954214  1112673  1171630  1104508   934869   706585
mouse1sample4  1011626  1451498  1707467  1874184  1890967  1738106  1455875
mouse1sample5   888931  1390377  1654389  1816234  1840941  1730257  1511032
mouse1sample6   661010  1006483  1124278  1140972  1008496   784476   542865
mouse2sample1   490806   729843   853171   922888   908630   804757   630930
mouse2sample2   652104  1160013  1325460  1376648  1309239  1143634   877041
mouse2sample3   298362   623419   728481   771978   746582   660809   510305
mouse2sample4   716774  1030962  1175673  1228133  1191498  1091329   919456
mouse2sample5   103290   163328   173367   180612   183037   166766   129313

In [16]:
(x/x.max().max()).min().min()

0.05462284640609805

In [10]:
slices_per_sample.unstack().to_csv('../processed_data/spots_per_sample_per_slice.csv')

In [19]:
q = spots.groupby(['sample'])['cell_id'].unique().apply(len)
q

sample
mouse1sample1    17976
mouse1sample2    27353
mouse1sample3    23117
mouse1sample4    32962
mouse1sample5    31046
mouse1sample6    24423
mouse2sample1    13517
mouse2sample2    21655
mouse2sample3    18424
mouse2sample4    19322
mouse2sample5     8154
Name: cell_id, dtype: int64

In [21]:
q.shape

(11,)

In [22]:
x.shape

(11, 7)

In [23]:
q = spots.groupby(['sample','global_z']).size()
q

sample         global_z
mouse1sample1  0.0         381300
               1.5         655279
               3.0         776646
               4.5         829705
               6.0         813036
                            ...
mouse2sample5  3.0         173367
               4.5         180612
               6.0         183037
               7.5         166766
               9.0         129313
Length: 77, dtype: int64

In [26]:
q = q.reset_index()
q

           sample  global_z       0
0   mouse1sample1       0.0  381300
1   mouse1sample1       1.5  655279
2   mouse1sample1       3.0  776646
3   mouse1sample1       4.5  829705
4   mouse1sample1       6.0  813036
..            ...       ...     ...
72  mouse2sample5       3.0  173367
73  mouse2sample5       4.5  180612
74  mouse2sample5       6.0  183037
75  mouse2sample5       7.5  166766
76  mouse2sample5       9.0  129313

[77 rows x 3 columns]

In [27]:
q[['sample','global_z']].to_csv('../processed_data/sample_z_slices.csv',index=False)

In [28]:
cells = pd.read_csv('../processed_data/segmented_cell_shapes.csv')
cells.head()

,cell_id,boundaryX,boundaryY,slice_id,sample
0,102513782275574352391549636869222584212,"2097.1362953431903, 2097.1362953431903, 2097.1...","2346.248493306339, 2345.705993324518, 2345.163...",mouse2_slice10,mouse2sample2
1,107041692196035477511188554607640157689,"2113.628294790536, 2113.519794794172, 2113.519...","2204.981498040259, 2204.5474980548024, 2204.00...",mouse2_slice10,mouse2sample2
2,110408674460711617898157940394920278916,"2033.8807974629103, 2033.8807974629103, 2033.7...","2221.1479974985123, 2220.6054975166917, 2220.1...",mouse2_slice10,mouse2sample2
3,125816213715504060865256572787204926854,"1962.813299844414, 1962.813299844414, 1962.813...","2167.765999287367, 2167.2234993055463, 2166.68...",mouse2_slice10,mouse2sample2
4,134881201666222369753036768466528484685,"2141.40429385975, 2141.40429385975, 2141.40429...","2170.47849919647, 2169.935999214649, 2169.3934...",mouse2_slice10,mouse2sample2

In [29]:
cells.groupby('sample').size()

sample
mouse1sample1    27885
mouse1sample2    40645
mouse1sample3    35677
mouse1sample4    47908
mouse1sample5    45533
mouse1sample6    36346
mouse2sample1    19130
mouse2sample2    31381
mouse2sample3    27515
mouse2sample4    28569
mouse2sample5    29270
dtype: int64

In [31]:
cells['slice_id'].unique()

array(['mouse2_slice10', 'mouse2_slice70', 'mouse2_slice129',
       'mouse2_slice189', 'mouse2_slice249', 'mouse2_slice309',
       'mouse2_slice40', 'mouse2_slice99', 'mouse2_slice160',
       'mouse2_slice219', 'mouse2_slice280', 'mouse1_slice271',
       'mouse1_slice283', 'mouse1_slice291', 'mouse1_slice301',
       'mouse1_slice313', 'mouse1_slice326', 'mouse1_slice162',
       'mouse1_slice170', 'mouse1_slice180', 'mouse1_slice190',
       'mouse1_slice200', 'mouse1_slice201', 'mouse1_slice1',
       'mouse1_slice10', 'mouse1_slice21', 'mouse1_slice31',
       'mouse1_slice40', 'mouse1_slice50', 'mouse1_slice102',
       'mouse1_slice91', 'mouse1_slice81', 'mouse1_slice71',
       'mouse1_slice62', 'mouse2_slice1', 'mouse2_slice61',
       'mouse2_slice119', 'mouse2_slice300', 'mouse1_slice212',
       'mouse1_slice221', 'mouse1_slice232', 'mouse1_slice241',
       'mouse1_slice251', 'mouse1_slice260', 'mouse1_slice112',
       'mouse1_slice122', 'mouse1_slice131', 'mouse1_slice153',
       'mouse2_slice20', 'mouse2_slice79', 'mouse2_slice139',
       'mouse2_slice201', 'mouse2_slice261', 'mouse2_slice319',
       'mouse2_slice31', 'mouse2_slice90', 'mouse2_slice151',
       'mouse2_slice209', 'mouse2_slice270'], dtype=object)